<div class = "container">
    <div class = "row">
        <div class="col" align = "center">
            <p class = "arrow-down center-text">
                <a href="#why-trade-with-us" on="tap:why-trade-with-us.scrollTo">
                    <amp-img src= {{ "/assets/img/dark/ic-scroll-down.svg" | prepend: site.github.url | replace: 'http://', 'https://' }} alt="Welcome" height="36" layout="fixed-height">
                    </amp-img>
                </a>
            </p>
        </div>
    </div>
    <div class = "row  margin-top-30">
        <div class="col-sm-12 col-md-4" align = "center">
            <div>
                <amp-img class="logo" src= {{ "/assets/img/dark/licensed_and_regulated.svg" | prepend: site.github.url | replace: 'http://', 'https://' }} alt="Welcome" height="96" layout="fixed-height"></amp-img>
            </div>
            <h3 class = "white-text center-text">Licensed and Regulated</h3>
            <div class="hero-text">
                <p class = "white-text center-text">Binary.com is licensed and regulated in Malta, the British Isles, Japan, and Vanuatu.</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-4" align = "center">
            <div>
                <amp-img class="logo" src= {{ "/assets/img/dark/global_presence.svg" | prepend: site.github.url | replace: 'http://', 'https://' }} alt="Welcome" height="96" layout="fixed-height"></amp-img>
            </div>
            <h3 class = "white-text center-text">Global Presence</h3>
            <div class="hero-text">
                <p class = "white-text center-text">Binary.com employs over 130 people across its offices in Malta, Malaysia and Japan.</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-4" align = "center">
            <div>
                <amp-img class="logo" src= {{ "/assets/img/dark/extensive_product_range.svg" | prepend: site.github.url | replace: 'http://', 'https://' }} alt="Welcome" height="96" layout="fixed-height"></amp-img>
            </div>
            <h3 class = "white-text center-text">Extensive Product Range</h3>
            <div class="hero-text">
                <p class = "white-text center-text">Over 100 asset classes across Forex, CFDs, and binary options.</p>
            </div>
        </div>
    </div>
</div>
