<div class = "container margin-top-10 ">
    <div class = "row">
        <div id="why-trade-with-us" class="col" align = "center">
            <h2>Trade in the world’s financial markets</h2>
        </div>
    </div>
    <div class = "row">
        <div class = "col-12">
            <amp-selector role="tablist" layout="container" class="ampTabContainer">
              <div role="tab" class="tabButton tabHeader  no-outline" selected option="a"><h3 class="remove-outline">Binary Options</h3></div>
              <div role="tabpanel" class="tabContent">
                  <div class="tabSubContent text-padding-60">
                      <p><h3><strong>Binary options</strong></h3></p>
                      <p>Options that offer a fixed payout based on a simple yes/no proposition.</p>
                  </div>
                  <div class="tabSubContent">
                      <amp-img src = {{ "/assets/img/trade/Binary_image.svg" | prepend: site.github.url | replace: 'http://', 'https://' }} height="175" layout="fixed-height"></amp-img>
                  </div>
              </div>
              <div role="tab" class="tabButton tabHeader no-outline" option="b"><h3>Forex</h3></div>
              <div role="tabpanel" class="tabContent">
                  <div class="tabSubContent text-padding-60">
                      <p><h3><strong>Forex</strong></h3></p>
                      <p>Major, minor and exotic currency pairs</p>
                  </div>
                  <div class="tabSubContent">
                      <amp-img src= {{ "/assets/img/trade/Forex_Image.svg" | prepend: site.github.url | replace: 'http://', 'https://' }} height="175" layout="fixed-height"></amp-img>
                  </div>
              </div>
              <div role="tab" class="tabButton tabHeader no-outline" option="c"><h3>CFDs</h3></div>
              <div role="tabpanel" class="tabContent">
                  <div class="tabSubContent text-padding-60">
                    <p><h3><strong>CFDs</strong></h3></p>
                    <p>Derivatives that reflect the movement of underlying assets.</p>
                  </div>
                  <div class="tabSubContent">
                      <amp-img src = {{ "/assets/img/trade/CFDs_Image.svg" | prepend: site.github.url | replace: 'http://', 'https://' }} height="175" layout="fixed-height"></amp-img>
                  </div>
              </div>
              <div role="tab" class="tabButton tabHeader no-outline" option="c"><h3>Metals</h3></div>
              <div role="tabpanel" class="tabContent">
                  <div class="tabSubContent text-padding-60">
                    <p><h3><strong>Metal</strong></h3></p>
                    <p>Precious metal pairs including gold and platinum.</p>
                  </div>
                  <div class="tabSubContent">
                      <amp-img src = {{ "/assets/img/trade/Metals_Image.svg" | prepend: site.github.url | replace: 'http://', 'https://' }} height="175" layout="fixed-height"></amp-img>
                  </div>
              </div>
              <div role="tab" class="tabButton tabHeader  no-outline" option="c"><h3>Crypto</h3></div>
              <div role="tabpanel" class="tabContent">
                  <div class="tabSubContent text-padding-60">
                    <p><h3><strong>Cryptocurrency</strong></h3></p>
                    <p>Cryptocurrency pairs including Bitcoin and Ethereum.</p>
                  </div>
                  <div class="tabSubContent">
                      <amp-img src = {{ "/assets/img/trade/Crypto_Image.svg" | prepend: site.github.url | replace: 'http://', 'https://' }} height="175" layout="fixed-height"></amp-img>
                  </div>
              </div>
            </amp-selector>
        </div>
    </div>
</div>
<div class = "container-static trade-footer-text">
    <div class = "container">
        <div class="row" align="center">
            <div class="col-md-12 bottom-desc">
                <h3 class="center-text">Choose from 100+ tradable instruments, backed by award-winning technology and innovation since 2000.</h3>
            </div>
        </div>
    </div>
</div>
<div class="container-static bg-grey">
    <div class="container">
        <div class="row vertical-padding-20" align="center">
            <div class="col-12 col-md-4 footer-bottom-left">
              <h3 class="center-text">Award-winning trading excellence</h3>
            </div>
            <div class="col-12 col-md-8 footer-bottom-right footer-separator">
                <div class="row footer-img-container">
                    <div class="col-3 col-sm-2 footer-img">
                        <amp-img src = {{ "/assets/img/awards/awards-t2w.png" | prepend: site.github.url | replace: 'http://', 'https://' }} width="50" height="70" layout="flex-item"></amp-img>
                    </div>
                    <div class="col-3 col-sm-2 footer-img">
                        <amp-img src = {{ "/assets/img/awards/why-us-GBAF-award-2012.svg" | prepend: site.github.url | replace: 'http://', 'https://' }} width="78" height="75" layout="flex-item"></amp-img>
                    </div>
                    <div class="col-6 col-sm-4 footer-img">
                        <amp-img src = {{ "/assets/img/awards/awards-opwa.svg" | prepend: site.github.url | replace: 'http://', 'https://' }} width="131" height="75" layout="flex-item"></amp-img>
                    </div>
                    <div class="col-3 col-sm-2 footer-img">
                        <amp-img src = {{ "/assets/img/awards/awards-mena.png" | prepend: site.github.url | replace: 'http://', 'https://' }} width="75" height="75" layout="flex-item"></amp-img>
                    </div>
                    <div class="col-3 col-sm-2 footer-img">
                        <amp-img src = {{ "/assets/img/awards/awards-egr.png" | prepend: site.github.url | replace: 'http://', 'https://' }} width="77" height="75" layout="flex-item"></amp-img>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
